<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidatos</title>
</head>
<body>
    <h2>Candidato</h2>
    {% if lista_candidatos %}
    <table>
        {% for region in lista_candidatos %}
        <tr>
            <td>{{region.nombre}}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No se encontro registro</p>    
{% endif %}    
</body>
</html>