<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Regiones</h2>
    {% if lista_regiones %}
        <table>
            {% for region in lista_regiones %}
            <tr>
                <td><a href="/votacion/{{ region.id }}">{{ region.nombre }}</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>No se encontro</p>  
    {% endif %}  
</body>
</html>